Django==5.2.8
django-cleanup==9.0.0
django-cors-headers==4.9.0
djangorestframework==3.16.1
PyJWT==2.10.1
Pillow
python-dotenv
passlib==1.7.4
python-decouple==3.8
boto3==1.42.5
django-storages==1.14.6
weasyprint==66.0
django-jazzmin==3.0.3
stripe==10.10.0
python-docx==1.2.0
firebase-admin==7.4.0
celery==5.6.3
redis==7.4.0








